<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
</head>

<body>
<div data-role="page" id="pageone">
    <div data-role="main" class="ui-content">
        <form>
            <input id="filterTable-input" data-type="search" placeholder="Search For...">
        </form>
        {% if records.count()!=0 %}
            <h1>{{ records[0].__name__ }}</h1>
            <table data-role="table" class="ui-responsive ui-shadow"
                   id="myTable" data-filter="true" data-input="#filterTable-input">
                <thead>
                <tr>
                    {% for field in fields %}
                        <th data-priority data-field=field>{{ field.capitalize().replace('_', ' ') }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for record in records %}
                    <tr>
                        {% for field in fields %}
                            <td>{% if record.__dict__['_data'][field] is number and field != "id" %}
                                {% for table in session['tables'] %}{% if table.__name__==field.capitalize() %}
                                    {{ 5 }}{% endif %}{% endfor %}
                            {% else %}{{ record.__dict__['_data'][field] }}{% endif %}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <div class="footer navbar-fixed-bottom">
            <p class="navbartext">© 2017 | CodeFool | ReLoad inc. | All rights reserved</p>
        </div>
    </div>
</div>
</body>
</html>

