<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <title>Admin Login</title>
</head>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="home.html">Home</a>
    </div>

      <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Admin <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Login</a></li>
                <li><a href="#">My emails</a></li>
                <li><a href="#">Registered applicants</a></li>
                <li><a href="#">Interviews</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Mentor <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Login</a></li>
                <li><a href="#">My interviews</a></li>
              </ul>
            </li>
          </ul>

            <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Applicant <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Login</a></li>
                <li><a href="#">Registration form</a></li>
                <li><a href="#">My application</a></li>
                <li><a href="#">My interview's date</a></li>
              </ul>
          </li>
        </ul>
      </div>
  </div>
</nav>

<body>
    <h1>Welcome to CodeFool</h1>

    <div class="container">
        <img src="../static/home_ad1.jpeg" class="img-circle center-block" alt="p1" width="304" height="236">
        <h1>DO YOU NEED A LOT OF MONEY?</h1><br/>
        <img src="../static/home_ad2.jpg" class="img-circle center-block" alt="p2" width="304" height="236">
        <h1>DO YOU HAVE A LOT OF FREE TIME?</h1><br/>
        <img src="../static/home_ad3.jpeg" class="img-circle center-block" alt="p3" width="304" height="236">
        <h1> WOULD YOU LIKE TO WORK IN A PROFESSIONAL TEAM?</h1><br/>
        <img src="../static/home_ad4.jpeg" class="img-circle center-block" alt="p4" width="304" height="236">
        <a href="{{url_for('form')}}"><h1>CLICK HERE TO JOIN US NOW.</h1></a>
    </div>

</body>

    <form style="text-align:right" method="post" action="/menu/{{user}}">
        <label style="background-color:yellow" for="user">Admin email</label><br/>
        <input type="text" name="user" id="user" placeholder="name@example.com"><br/>
        <label style="background-color:yellow" for="password">Password</label><br/>
        <input type="password" name="password" id="password" placeholder="4815162342"><br/>
        <button type="submit" class="login-button">Login</button>
    </form>

</html>
