<!DOCTYPE html>
<html>
<head>
    <title > Application - {{header}} </title>
</head>
<body background="../static/bg1.jpeg" >
    <button type="submit">Home</button>
    <h1 style="color:white;background-color:black; font-size: 200%">Application</h1><br>
    <form style="color:white"; action="/registration/{{applicant.id}}" method="POST">
        <label style=background-color:black; for="first_name">First name:</label>
        <textarea name='first_name' id="first_name" rows="1" cols="40" required>{{applicant.first_name}</textarea><br><br>
        <label style=background-color:black; for="last_name">Last name: </label>
        <textarea name='last_name' id="last_name" rows="1" cols="40" required>{{applicant.last_name}</textarea><br><br>
        <label style=background-color:black; for="gender">Gender: </label>
         <select name="gender" id="gender" required>"{{applicant.gender}}">
             <option value="female">female</option>
             <option value="male">male</option><br>
        </select><br><br>
            <label style=background-color:black; for="gender">Email: </label>
            <input type="email" placeholder="Enter your email"><br><br>
        <label style="background-color:black" for="city">City: </label>
        <select name="city" id="city" required>"{{city.gender}}"><br><br>
             <option value="city">Budapest</option>
             <option value="city">Miskolc</option>
             <option value="city">Krakkó</option>
        </select><br>
        <br><input type="submit" value="Submit"><br>
    </form><br>
</body>
</html>