<!DOCTYPE html>

<html>
<style>
.button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>

    <section class="loginform cf">
<form name="login" action="index_submit" method="get" accept-charset="utf-8">
    <ul>
        <li><label for="usermail">Email</label>
        <input type="email" name="usermail" placeholder="yourname@email.com" required></li>
        <li><label for="password">Password</label>
        <input type="password" name="password" placeholder="password" required></li>
        <li>
        <input type="submit" value="Login"></li>
    </ul>
</form>
</section>


<head>
    <title>Home - {{header}} </title>
</head>
<h1 style="color:white;">Welcome to CodeFool</h1>
<body background="../static/bg.jpg">
<h2 style="color:white;">Admin Login</h2>
<a href="#" class="button">Admin login</a>
<h2 style="color:white;">Register new application</h2>
</form>
<a href="#" class="button">New application</a>
</body>

</html>